<div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/books">Books</a></li>
        <li class="active">{{ book.title }}</li>
      </ol>
      
      <div class="alert alert-danger" ng-if="error">{{ error }}</div>
      <div class="alert alert-success" ng-if="success">{{ success }}</div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Book Details</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img ng-src="{{ book.imageUrl }}"  class="img-responsive img-thumbnail img-alt">
            </div>
            <div class="col-md-8">
              <h2>{{ book.title }}</h2>
              <p><strong>Author:</strong> {{ book.author }}</p>
              <p><strong>Genre:</strong> {{ book.genre }}</p>
              <p><strong>Price:</strong> ${{ book.price }}</p>
              <p><strong>Description:</strong> {{ book.description }}</p>
              
              <div class="well">
                <h4>Manage Inventory</h4>
                <div class="form-group">
                  <label for="copies">Available Copies:</label>
                  <div class="input-group" style="max-width: 200px;">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="book.copies = book.copies - 1" ng-disabled="book.copies <= 0">-</button>
                    </span>
                    <input type="number" id="copies" class="form-control text-center" ng-model="book.copies" min="0">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="book.copies = book.copies + 1">+</button>
                    </span>
                  </div>
                </div>
                <button class="btn btn-primary" ng-click="updateCopies(book)">Update Stock</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>