<div class="jumbotron text-center">
    <h1>Library Management System</h1>
    <p>Manage your book collection with ease</p>
    <div ng-if="!isLoggedIn()">
      <a href="/login" class="btn btn-primary">Login</a>
      <a href="/register" class="btn btn-success">Register</a>
    </div>
    <div ng-if="isLoggedIn()">
      <a href="/books" class="btn btn-primary">View Books</a>
      <a href="/books/add" class="btn btn-success">Add Book</a>
    </div>
  </div>
  
  <div class="row" ng-if="books.length > 0">
    <div class="col-md-12">
      <h2>Featured Books</h2>
      <div class="row">
        <div class="col-md-4" ng-repeat="book in books | limitTo:3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ book.title }}</h3>
            </div>
            <div class="panel-body">
              <img ng-src="{{ book.imageUrl }}" alt="{{ book.title }}" class="img-responsive center-block" style="height: 200px;">
              <p><strong>Author:</strong> {{ book.author }}</p>
              <p><strong>Genre:</strong> {{ book.genre }}</p>
              <p><strong>Price:</strong> ${{ book.price }}</p>
              <p><strong>Available Copies:</strong> {{ book.copies }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>